*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui;
}

.nav-bar{
    width: 100vw;
    height: 15vh;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    z-index: 1000;
}

.nav-bar img{
    width: 200px;
    height: auto;
}

.fas{
    padding-right: 20px;
}

.signUp{
    padding: 10px 25px;
    margin: 15px 0; 
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid white;
}

.signUp:hover{
    background-color: #fff;
    color: #000;
    transition: 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    letter-spacing: 2px;
}

section{
    display: flex;
    height: 85vh;
}

.side-bar{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background: #fff;
}

.side-bar li{
    list-style-type: none;
    margin: 30px 0px;
    text-align: center;
    color: black;
    cursor: pointer;
}

.social{
    display: flex;
    justify-content: space-evenly;
}

.fab{
    border: 1px solid #dad9d9;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    background-color: #dad9d9;
    cursor: pointer;
}

form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c40101;
}

form p{
    align-self: flex-start;
    font-size: 16px;
    color: #eee;
}

.name .address{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

input{
    width: 400px;
    height: 50px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 2px 3px #242424b3;
    padding: 0px 10px;
    text-transform: uppercase;
}

.address-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

.streetAddress{
    width: 805px;
}

.other-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-top: 15px;
}

.other-form .signing-date{
    width: 50%;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.other-form .signing-date input{
    width: 65%;
}

.other-form .signing-date p{
    margin-top: 27px;
}

.button{
    background: #fff;
    color: #c40101;
}

.button:hover{
    background: #c40101;
    color: #fff;
    border: 2px solid #fff;
}