*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: normal;
    src: url(Lobster-Regular.ttf);
}

@font-face {
    font-family: thin;
    src: url(Stylish-Regular.ttf);
}

.container{
    width: 100%;
    height: 100vh;
    background: cornsilk;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card{
    width: 450px;
    height: 250px;
    background: #eee;
    display: flex;
    border-radius: 5px;
    border: 1.5px solid #000;
    border-radius: 10px;
}

.part-1{
    width: 50%;
    height: 100%;
    background: crimson;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 8.5px;
    border-top-left-radius: 8.5px;
}

.part-1 p, .part-3 p{
    font-size: 28px;
    font-family: normal;
}

.part-1 span, .part-3 span{
    font-size: 13px;
    font-family: thin;
    color: #333;
}

.part-1-5{
    z-index: 10000;
    background: #eee;
    width: 20px;
    height: 150px;
    border-radius: 20px;
    align-self: center;
    transform: translateX(1080%);
    position: absolute;
}

.part-2{
    width: 50%;
    height: 100%;
    background: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.part-2 h3{
    font-size: 20px;
    font-family: normal;
}

.part-2 p{
    font-size: 15px;
    font-family: thin;
}

.part-2 .contact{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.part-2 .contact .phone{
    display: flex;
    align-items: center;
    gap: 5px;
}

.part-2 .contact .phone i{
    width: 14px;
    height: 14px;
    line-height: 14px;
    font-size: 12px;
}

.part-2 .contact .phone p{
    font-size: 14px;
}

.part-3{
    width: 100%;
    height: 100%;
    background: crimson;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 8.5px;
    border-top-left-radius: 8.5px;
}